@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Cabin+Condensed&family=Comfortaa:wght@300..700&family=Dancing+Script&family=Epilogue:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost&family=Kalam&family=Kanit&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Display:wght@600&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Odibee+Sans&family=PT+Sans+Narrow&family=Playwrite+ZA+Guides&family=Poetsen+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Signika+Negative:wght@300..700&family=Slabo+27px&family=Syne:wght@400..800&family=Ubuntu:wght@500&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Yesteryear&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  /* overflow-x: hidden; */
  /* background: #010315; */
  color: #f1f1f1;
   font-family: "Nunito", sans-serif;
   scroll-behavior: smooth;
   overflow-x: hidden;
}

::selection{
  background: var(--clr-light);
  color: var(--clr-blue);
}
body{
    background: #020202;

}

a{
  text-decoration: none;
}
::-webkit-scrollbar{
  display: none;
}

#parent{
  padding-top: 90px;
  /* padding-left: 150px;
  padding-right: 150px; */
}



/* body{
  padding-top: 90px;
  padding-left: 150px;
  padding-right: 150px;
} */
